.project{
    background: url(../img/bg1.png) no-repeat center/cover;
    height: 404px;
}
.project__wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.project__text{
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    color: white;
    margin-bottom: 3px;
}
.project__title{
    font-size: 50px;
    font-weight: 400;
    line-height: 67px;
    color: white;
    margin-bottom: 22px;
}
.project__btn{
    font-family: 'PlayfairDisplay-Regular', sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 16px;
border: none;
outline: none;
width: 190px;
height: 53px;
cursor: pointer;
transition: 0.3s;
}
.project__btn:hover{
    background: #41A28E;
    color: #ffffff;
}